{extend name="base/base" /}
{block name="title"}控制面板{/block}
{block name="css_head"}
<style>
	.info-box .info-box-icon {
		border-top-left-radius: 2px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 2px;
		display: block;
		float: left;
		height: 85px;
		width: 85px;
		text-align: center;
		font-size: 45px;
		line-height: 85px;
		background: rgba(0, 0, 0, 0.2);
	}

	.info-box .info-box-content {
		padding: 5px 10px;
		margin-left: 85px;
	}

	.info-box .info-box-content .info-box-text {
		display: block;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: uppercase;
	}

	.info-box .info-box-content .info-box-number {
		display: block;
		font-weight: bold;
		font-size: 18px;
	}

	.major {
		font-weight: 10px;
		color: #01AAED;
	}

	.main .layui-row {
		margin: 10px 0;
	}
</style>
{/block}
{block name="content"}
<div class="layui-fluid main">
		main
</div>
{/block}
{block name="js_footer"}
<script>
   
</script>
{/block}