<div class="layui-logo">腾讯大闽网</div>
<div class="layui-logo kit-logo-mobile">腾讯大闽网</div>
<ul class="layui-nav layui-layout-left kit-nav">
    <li class="layui-nav-item"></li>
</ul>
<ul class="layui-nav layui-layout-right kit-nav">
    <li class="layui-nav-item">
       <a href="/" target="_bank">前台首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">
             <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"> {$userName}
        </a>
        <!-- <dl class="layui-nav-child">
            <dd><a href="javascript:;">基本资料</a></dd>
            <dd><a href="javascript:;">安全设置</a></dd>
        </dl> -->
    </li>
    <li class="layui-nav-item"><a href="{:url('Login/loginout')}"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出</a></li>
</ul>
